__pycache__/
*.egg-info/
.*.swp
dist
/test.py
testfile.txt
settings.json
*.pickle
*.log
screenshots/
.ipynb_checkpoints/
local_cache/
transformerQA-finetuning/
tests/media/
weaviate_data/
venv
.env
.idea
.nicegui/
*.sqlite*
.DS_Store